[submodule "vm-setup"]
	path = vm-setup
	#url = https://github.com/epics-training/training-vm
	url = https://github.com/waynelewis/training-vm
[submodule "areadetector-training"]
	path = areadetector-training
	url = https://github.com/epics-training/areadetector-training
[submodule "epics7-overview"]
	path = epics7-overview
	url = https://github.com/epics-training/epics7-overview
[submodule "phoebus-training"]
	path = phoebus-training
	url = https://github.com/epics-training/phoebus-training
	branch = main
[submodule "wfsim-demo"]
	path = wfsim-demo
	url = https://github.com/osprey-dcs/wfsim-demo
[submodule "pscdrv"]
	path = pscdrv
	url = https://github.com/osprey-dcs/pscdrv
